<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SharingServiceApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitys.EditProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LanguageSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PeopleRequestDetailedHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MyTasksDetailedHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PeoplePlannedTasksDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MyPlannedTaskDetailedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment-success"
                    android:scheme="sharingapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.PaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment-cancel"
                    android:scheme="sharingapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.TaskDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".activitys.RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RequestsOffersActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.DaysAndTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MyTaskerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.EditMyTaskerProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activitys.CreatTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CreateMyTaskerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SavedActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MoreActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.TaskDetailOfferActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.DetailedTasksActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PlannedTasksActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RequestTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.TaskerHelperDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.HelperListActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>